body{

    font-family: 'Poppins', sans-serif;
    margin:0;

}
h1{

    font-size: 30px;
}
.red-color
{
    color: red;
}
h3{
    font-size: 20px;
}
.flexible-container{

    display: flex;
    margin-bottom: 150px;
}
.half-width
{
   width:50%;
   padding-left: 2%;
}
.half-width{

    width:60%;
    padding-left: 2%;
    
    
}
.link-button{

    text-decoration: none;
   background-image: linear-gradient(orange tomato);
    padding:10px 40px;
    color:black;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner
{
    background-image: url(./image1/top-banner\ pic.jpg);
    background-repeat: none;
}
.dream-big
{
    background-image: url(./image1/top1.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area
{
    background-image:url(./image1/topbanner.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
}
.experience-item
{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 10px solid;
}
#web-dev-experience
{
    border-left:7x solid;
    border-image: linear-gradient(#f6b73c #4d9f0c) 30;

    border-image-slice: 1;
}
#full-stock-experience
{
border-left:7px solid;
border-image: linear-gradient(salmon tomato);
border-image-slice: 1;

}
footer p

{
    text-align: center;
}